
*{
    margin: 0px;
    padding: 0px;
}

h1 {
    font-size: 30px;
    font-family: monospace;
}


h2{
    font-size: 15px;
    font-family: monospace;
    color: black;
}

header, section, footer, aside, nav, article, hgroup{
       display: block;
} 
body{
    text-align: center;
}

div{
    width: 960px ;
    background:lawngreen;
    margin: 15px auto;
    border: 1px solid black;   
}


header{
    background: #EA2027;
    border: 3px solid #1B1464;
}

.menu{
    background: #12CBC4;
    text-align: left;
    padding: 5px;
}

.menu li{
    list-style: none;
    display: inline-block;
    padding: 5px;
}

.seccion{
    margin: 20px;
    width: 600px;
    float: left;
}

article{
    margin-bottom: 20px;
    padding: 20px;
    border: 3px solid #1B1464 ;
}

.columna{
    width: 300px; 
    float: left;
    margin: 20px 0px;
    
}

.columna blockquote{
    border: 3px solid #273c75;
    padding: 30px;
    margin-bottom: 20px;
    background: #EA2027;
}

.pie{
    clear: both;
    background: #EA2027;
    padding: 20px;
}

article footer{
    text-align: right;
}

